export(find_region)
export(find_region_point)
export(geocode)
export(getMapAus)
export(get_mapaus)
export(mapBox)
export(mapCrop)
export(mapIntersect)
export(mapfill)
export(scale_fill_heat)
import(ggplot2)
import(rgdal)
import(rgeos)
import(scales)
import(sp)
